@import "https://unpkg.com/open-props";

*,
*:before,
*:after {
  margin: 0;
}

input,
textarea {
  border: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}

body {
  color: var(--gray-9);
  font-family: "Open Sans", sans-serif;
  background-color: var(--stone-0);
}

main {
  display: flex;
  flex-direction: column;
  padding: var(--size-4) var(--size-4);
  margin: 0 auto;
  width: auto;
  max-width: 60%;
}

header {
  display: flex;
  align-items: baseline;
  gap: var(--size-3);
  border-bottom: 1px solid var(--stone-5);
  padding-bottom: var(--size-3);
  margin: var(--size-4) 0 var(--size-4) 0;
}

header h1 {
  font-size: var(--font-size-fluid-1);
}

header span {
  color: var(--gray-6);
  font-size: 1rem;
}

#add-todo {
  border: 0;
  margin-top: var(--size-4);
  padding: var(--size-4) var(--size-6);
  background-color: var(--stone-2);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-0);
  font-size: clamp(0.8rem, 2vw, 1.1rem);
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding: var(--size-3) var(--size-3);
  margin: var(--size-2) 0;
  border-radius: var(--radius-3);
  background-color: var(--stone-0);
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.todo:hover {
  background-color: var(--stone-1);
}

.todo:hover #todo-actions svg {
  color: var(--gray-9);
}

.todo input[type="checkbox"] {
  appearance: none;
  width: var(--size-4);
  height: var(--size-4);
  border: 1px solid var(--stone-5);
  border-radius: var(--radius-1);
}

.todo input[type="checkbox"]:checked {
  background: url(./check.svg) no-repeat top left;
  background-size: contain;
  background-color: var(--blue-7);
}

.todo #edit-todo {
  background-color: var(--stone-1);
  outline: none;
}

.todo-done {
  background-color: var(--stone-1);
}

.todo .checked {
  text-decoration-line: line-through;
  color: var(--gray-5);
}

.todo #todo-items {
  display: flex;
  align-items: center;
  gap: var(--size-3);
}

.todo #todo-items > p {
  cursor: default;
}

.todo #todo-actions {
  display: flex;
  gap: var(--size-4);
}

.todo #todo-actions svg {
  display: block;
  cursor: pointer;
  width: var(--size-4);
  color: var(--gray-5);
}

.todo #todo-actions #edit-btn > svg:hover {
  color: var(--green-5);
}

.todo #todo-actions #delete-btn > svg:hover {
  color: var(--red-5);
}
